$Form.FormTag("%{action='Login'}")
<table>
  <tr>
    <td style="width: 150px">
      $Form.LabelFor("loginInfo.Email", "Email:")
    </td>
    <td style="width: 100px">
      $Form.TextField("loginInfo.Email", "%{}")
    </td>
  </tr>
  <tr>
    <td style="width: 150px">
      $Form.LabelFor("loginInfo.Password", "Password:")
    </td>
    <td style="width: 100px">
      $Form.PasswordField("loginInfo.Password", "%{}")
    </td>
  </tr>
  <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <input name="loginInfo.remember" type="checkbox" />
                            <label for="remember">
                                Remember me</label>
                        </td>
                        <td align="right">
                            <input name="login" type="submit" value="submit" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
$Form.HiddenField("loginInfo.redirectUrl")
$Form.EndFormTag()