<h2>New Role</h2>
<br />
$Form.FormTag("%{action='SaveAdd'}")
    <table>
       <tr>
            <td style="width: 150px">
                $Form.LabelFor("role.Name", "Name:")</td>
            <td style="width: 100px">
              $Form.TextField("role.Name", "%{}")</td>
        </tr>
         <tr>
            <td style="width: 150px">
              $Form.LabelFor("role.Description", "Description:")</td>
            <td style="width: 100px">
              $Form.TextField("role.Description", "%{}")</td>
        </tr>
      <tr>
        <td style="width: 150px">
          $Form.LabelFor("role.SecurableObjectType.Id", "Securable Object Type:")
        </td>
        <td style="width: 100px">
          $Form.Select("role.SecurableObjectType.Id",$securableObjectTypes, "%{text='Name', value='Id', firstoption='-----'}")
        </td>
      </tr>
      <tr>
            <td style="width: 150px">
            </td>
            <td style="width: 100px">
                $Form.Submit("Save")
</td>
        </tr>
    </table>
$Form.HiddenField("role.Application.Id")
$Form.EndFormTag()