<h3>Delete User</h3>
<hr /><br />
Are you sure that you want to delete the user <b>$user.FirstName $user.LastName ($user.LoginName)</b>?<br />
$Url.Link("Yes","%{controller='user', action='delete', querystring='userId=$user.Id'}") |
$Url.Link("No","%{controller='user', action='default'}")
 <br>