<h2>New User</h2>
<br />
$Form.FormTag("%{action='SaveAdd'}")
    <table>
       <tr>
            <td style="width: 150px">
                $Form.LabelFor("regInfo.Email", "Email:")</td>
            <td style="width: 100px">
              $Form.TextField("regInfo.Email", "%{}")</td>
        </tr>
         <tr>
            <td style="width: 150px">
              $Form.LabelFor("regInfo.FirstName", "First Name:")</td>
            <td style="width: 100px">
              $Form.TextField("regInfo.FirstName", "%{}")</td>
        </tr>
          <tr>
            <td style="width: 150px">
              $Form.LabelFor("regInfo.LastName", "Last Name:")</td>
            <td style="width: 100px">
              $Form.TextField("regInfo.LastName", "%{}")</td>
        </tr>
           <tr>
            <td style="width: 150px">
              $Form.LabelFor("regInfo.Password", "Password:")</td>
            <td style="width: 100px">
              $Form.PasswordField("regInfo.Password", "%{}")</td>
        </tr>
            <tr>
            <td style="width: 150px">
              $Form.LabelFor("regInfo.Password2", "Verify Password:")</td>
            <td style="width: 100px">
              $Form.PasswordField("regInfo.Password2", "%{}")</td>
        </tr>
      <tr>
            <td style="width: 150px">
            </td>
            <td style="width: 100px">
                $Form.Submit("Save")
</td>
        </tr>
    </table>
$Form.EndFormTag()