<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Membership Management Console</title>
    <link rel="stylesheet" href="$siteroot/Content/css/style.css" type="text/css" media="screen" />
    $!head

    <script type="text/javascript" src="$siteroot/Content/js/prototype.js"></script>

    <!--    <script type="text/javascript" src="$siteroot/Content/js/scriptaculous.js"></script>
-->

<!--    <script type="text/javascript" src="$siteroot/Content/js/behaviour.js"></script>
-->
    <script type="text/javascript" src="$siteroot/Content/js/formhelper.js"></script>

    <script type="text/javascript">
		$!scripts
    </script>

</head>
<body>
    <table style="width: 100%;" border="0">
        <tr>
            <td colspan="2">
                #component(Header)
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 175px" rowspan="2">
                #component(LeftNavigation)
            </td>
            <td style="width: auto;">
                #component(UserAdvisory) $childContent
            </td>
        </tr>
        <tr >
        </tr>
        <tr>
            <td colspan="2">
                #component(Footer)
            </td>
        </tr>
    </table>
</body>
</html>
